<% cache notification do %>
  <%= notification_tag notification do %>

    <header class="card__header">
      <%= render "notifications/notification/header", notification: notification %>
    </header>

    <div class="card__body">
      <div class="avatar txt-x-small">
        <%= avatar_image_tag notification.creator %>
      </div>

      <h3 class="flex flex-column min-width flex-item-grow font-weight-normal">
        <%= render "notifications/notification/#{notification.source_type.underscore}/body", notification: notification %>
      </h3>
    </div>
  <% end %>
<% end %>
