servers:
  web:
    hosts:
      - fizzy-beta-app-01
      - fizzy-beta-app-101
  jobs:
    hosts:
      - fizzy-beta-app-01

proxy:
  ssl: false

ssh:
  user: app

env:
  clear:
    RAILS_ENV: beta

accessories:
  beamer:
    image: basecamp/beamer:vfs
    registry:
      server: registry.37signals.com
      username: robot$harbor-bot
      password:
        - BASECAMP_REGISTRY_PASSWORD
    options:
      user: 1000 # Match the UID of the Rails app, for volume permissions
      publish:
        - 5001:5001
        - 9000:9000
    volumes:
      - fizzy:/home/beamer
    cmd: beamer run --retention=1h --metrics-port=9000
    hosts:
      - fizzy-beta-app-01
      - fizzy-beta-app-101

  load-balancer:
    image: basecamp/kamal-proxy:lb
    roles:
      - web
    options:
      publish:
        - 80:80
        - 443:443
    volumes:
      - load-balancer:/home/kamal-proxy/.config/kamal-proxy
