<%
  total_closed_count = column.filter.collections.any? ?
    column.filter.collections.joins(:cards).merge(Card.closed).count :
    column.filter.cards.count
%>

<section id="closed-cards" class="cards cards--closed" style="--card-color: var(--color-card-complete);"
    aria-expanded="false"
    data-drag-and-drop-target="container"
    data-drop-target="closed"
    data-collapsible-columns-target="column">

  <%= cards_expander "Done", total_closed_count %>

  <% if column.page.used? %>
    <%= render "cards/columns/column", column: column, draggable: false %>

    <% unless column.page.last? %>
      <div class="full-width">
        <%= cards_next_page_link "closed-cards", page: column.page, filter: column.filter, fetch_on_visible: true %>
      </div>
    <% end %>
  <% else %>
    <p class="txt-normal translucent blank-slate"><%= column.user_filtering.any? ? "No matches" : "Nothing here" %></p>
  <% end %>
</section>
