<% cache [ day_timeline.events, Workflow.all ] do %>
  <% if day_timeline.has_activity? %>
    <div class="events__columns">
      <%= render "events/day_timeline/column", event_type: "added", day_timeline: day_timeline %>
      <%= render "events/day_timeline/column", event_type: "updated", day_timeline: day_timeline %>
      <%= render "events/day_timeline/column", event_type: "closed", day_timeline: day_timeline %>
    </div>
  <% end %>
<% end %>
