<section class="terminal__help" aria-labelledby="help-menu-title">
  <h2 id="help-menu-title">Commands you can use in Fizzy:</h2>
  <dl>
    <h3>Navigation</h3>
    <dt><code>@username</code></dt>
    <dd>Navigate to a someone's profile</dd>
    <dt><code>[card id]</code></dt>
    <dd>Navigate to a specific card by its id</dd>

    <h3>Filtering</h3>
    <dt><code>#tag_name</code></dt>
    <dd>Filter cards by tag</dd>
    <dt><code>[card id 1] [card id 2]...</code></dt>
    <dd>Filter multiple cards by their IDs</dd>
    <dt><code>search_term</code></dt>
    <dd>Search for cards containing the term</dd>
    <dt><code>/clear</code></dt>
    <dd>Clear all the filters</dd>

    <h3>Cards</h3>
    <dt><code>/assign [username 1] [username 2]...</code></dt>
    <dd>Assign selected cards to specified people(s)</dd>
    <dt><code>/close [reason]</code></dt>
    <dd>Close selected card(s) with an optional reason</dd>
    <dt><code>/tag [tag name]</code></dt>
    <dd>Add a tag to selected cards</dd>
  </dl>
</section>
